---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  const blogEntries = await getCollection("articles");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const entry: CollectionEntry<"articles"> = Astro.props.entry;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <article>
    <div class="article-meta">
      <div class="created">
        <svg
          style="height: 12px"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"
          ></path>
        </svg>

        {new Date(entry.data.createdMS).toUTCString()}
      </div>
    </div>
    <Content />
  </article>
</Layout>
<style lang="scss">
  .article-meta {
    font-family: Gathero;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: #e6bbd3;
    position: relative;
    .created {
      display: flex;
      align-items: center;
      line-height: 1;
      svg {
        margin-right: 0.2rem;
      }
      &:after {
        content: "";
        display: block;
        border-right: 1px solid #fe96dd;
        box-shadow: 0px 0px 6px 1px #d15fac;
        height: 0.5rem;
        transform: translateY(-0.05rem);
        margin-left: 0.4rem;
      }
    }
  }
</style>
