---
import Layout from "../../layouts/Layout.astro";
import ProjectCard, {
  ProjectCardProps,
} from "../../components/project-card/ProjectCard.astro";

const projects: ProjectCardProps[] = [
  {
    description:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit sed et nobis accusantium nostrum autem obcaecati voluptate tempora eaque blanditiis. Illum alias iste repellat velit saepe error! Ex, a tempora!",
    html_url: "google.com",
    name: "My cool project",
    stargazers_count: 90,
    topics: ["some", "cool", "topics"],
  },
  {
    description:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit sed et nobis accusantium nostrum autem obcaecati voluptate tempora eaque blanditiis. Illum alias iste repellat velit saepe error! Ex, a tempora!",
    html_url: "google.com",
    name: "My cool project",
    stargazers_count: 90,
    topics: ["some", "cool", "topics"],
  },
  {
    description:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit sed et nobis accusantium nostrum autem obcaecati voluptate tempora eaque blanditiis. Illum alias iste repellat velit saepe error! Ex, a tempora!",
    html_url: "google.com",
    name: "My cool project",
    stargazers_count: 90,
    topics: ["some", "cool", "topics"],
  },
  {
    description:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit sed et nobis accusantium nostrum autem obcaecati voluptate tempora eaque blanditiis. Illum alias iste repellat velit saepe error! Ex, a tempora!",
    html_url: "google.com",
    name: "My cool project",
    stargazers_count: 90,
    topics: ["some", "cool", "topics"],
  },
];
---

<Layout title="projects">
  <article>
    <h1>Projects</h1>
    <p>
      Due to a busy work schedule (on closed source web apps) and a long
      commute, I haven't had much time to work on open source projects in recent
      year.
    </p>
    <p>Nevertheless, here are some of my more popular github repositories:</p>
    <ul class="project-cards">
      {projects.map((project) => <ProjectCard {...project} />)}
    </ul>
  </article>
</Layout>

<style lang="scss">
  ul.project-cards {
    list-style: none;
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    margin: 36px;
  }
</style>
