---
import Layout from "../layouts/Layout.astro";
---

<Layout title="HEE HAW!">
  <article>
    <h1>Howdy!</h1>
    I'm Michael, a web developer from Germany with an unhealthy obsession with donkeys<a
      href="about#donkeys"
      class="why">(why?)</a
    >.
  </article>
</Layout>
