---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="HEE HAW!">
	<article>
		<h1>
		  Howdy!
		</h1>
		I'm Michael, a web developer from Germany with an unhealthy obsession
		with donkeys.
	  </article>
</Layout>
