---
import Layout from "../layouts/Layout.astro";
const articles = (await Astro.glob("../pages/articles/*.*")).map(
  (article) => article
);

const a = {
  _internal: { injectedFrontmatter: {} },
  frontmatter: { layout: "../../layouts/MD.astro", title: "About?" },
  file: "/Users/michaelklein/projects/astroportfolio/donksite/src/pages/articles/about.md",
  url: "/articles/about",
};
const b = {
  file: "/Users/michaelklein/projects/astroportfolio/donksite/src/pages/articles/projects.astro",
  url: "/articles/projects",
};
---

<Layout title="HEE HAW!">
  <article>
    <h1>Howdy!</h1>
    <p>
      I'm Michael, a senior web developer/frontend architect from Germany with
      an unhealthy obsession with donkeys<a href="about#donkeys" class="why"
        >(why?)</a
      >.
    </p>
    <p style={{ wordBreak: "break-all" }}>
      {JSON.stringify(articles)}
    </p>
  </article>
</Layout>
