---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import truncateMarkdown from "markdown-truncate";
const blogEntries = await getCollection("articles");

const entries: CollectionEntry<"articles">[] = blogEntries;
const contents = [];
for (const entry of entries) {
  contents.push(entry.body);
}
---

<Layout title="HEE HAW!">
  <article>
    <h1>Howdy!</h1>
    <p>
      I'm Michael, a senior web developer/frontend architect from Germany with
      an unhealthy obsession with donkeys<a href="about#donkeys" class="why"
        >(why?)</a
      >.
    </p>
  </article>
</Layout>
