---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/project-card/ProjectCard.astro";
const response = await fetch(
  "https://api.github.com/users/michael-klein/repos"
);
const exclude = ["dokument.js", "pika-plugin-minify"];
const projects = (await response.json()).filter(
  (p) => !exclude.includes(p.name) && p.stargazers_count > 0
);

projects.sort((p1, p2) => p2.stargazers_count - p1.stargazers_count);
projects.length = Math.min(projects.length, 10);
---

<Layout title="projects">
  <article>
    <h1>Projects</h1>
    <p>Due to a busy work schedule (on closed source web apps) and a long commute, I haven't had much time to work on open source projects in recent year.</p>
    <p>Nevertheless, here are some of my more popular github repositories:</p>
    <ul class="project-cards">
      {projects.map((project) => <ProjectCard {...project} />)}
    </ul>
  </article>
</Layout>
