<nav>
  <ul>
    <li>
      <a href="/articles/about">about<span class="slash">/</span>cv</a>
    </li>
    <li>writing</li>
    <li class="big"><a href="/">Michael <br />Klein</a></li>
    <li>
      <a href="/articles/projects">projects</a>
    </li>
    <li>blogroll</li>
    <button class="burger" id="close-nav">X</button>
  </ul>
</nav>
<button class="burger" id="burger">☰</button>
<div class="slogan" id="slogan">
  <div class="name">Michael <br />Klein</div><span class="title"
    >front-end<br />engineer</span
  >
</div>
<script is:inline>
  requestAnimationFrame(() => {
    Array.from(document.querySelectorAll("#burger, #close-nav")).forEach(
      (el) => {
        el.addEventListener("click", () => {
          document.querySelector("nav").classList.toggle("show");
        });
      }
    );
  });
</script>
<style lang="scss">
  .burger {
    display: none;
  }
  nav #close-nav {
    display: none;
  }
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: OPTIWindsor;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 8px #cd427a;
    width: 100%;
    max-width: 1100px;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    li {
      flex: 1;
      &.big {
        flex: auto;
        font-size: 2rem;
        letter-spacing: -0.25rem;
      }
      a {
        text-decoration: none;
        &,
        &:active,
        &:link {
          color: white;
        }
        &:hover {
          color: #da5eb0;
          text-shadow: none;
        }
        span.slash {
          font-size: 1.3em;
          transform: translateY(0.1em);
          margin-right: -0.1em;
          display: inline-block;
          color: #45dcef;
          text-shadow: 0px 0px 8px #45dcef;
        }
      }
    }
  }
  .slogan {
    position: absolute;
    top: 155px;
    left: calc(50% + 96px);
    width: 100px;
    transform: translateX(-50%);
    font-family: "Leiko";
    line-height: 0.7rem;
    color: white;
    text-align: left;
    text-shadow: 0px 0px 8px #cd427a;
    z-index: 999999;
    font-size: 0.8rem;
    font-weight: bold;
    .name {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    .slogan {
      left: 0px !important;
      font-size: 0.7rem !important;
      width: 0px !important;
      z-index: 7999;
      position: absolute;
      top: 90px;
      white-space: pre;
      .name {
        margin-bottom: 0.2rem;
        font-family: OPTIWindsor;
        letter-spacing: -0.25rem;
        font-size: 2rem;
        line-height: 1;
        margin-left: -0.2rem;
        display: block;
        position: absolute;
      }
      .title {
        position: absolute;
        top: 3.6rem;
        left: 5.2rem;
      }
    }
    .burger {
      background: transparent;
      border: none;
      font-family: Arial;
      display: block !important;
      font-family: OPTIWindsor;
      font-weight: normal;
      color: white;
      text-shadow: 0px 0px 8px #cd427a;
      font-size: 3rem;
      position: absolute;
      right: 10px;
      top: 110px;
      cursor: pointer;
      line-height: 1;
      z-index: 7999;
    }
    nav {
      ul {
        overflow: hidden;
        transition: height 0.2s ease-in-out;
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 0vh;
        display: flex;
        flex-direction: column;
        background-color: #cd427a;
        z-index: 8000;
        transform: none;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .big {
          flex: 0 !important;
          font-size: 3rem !important;
        }
        li {
          opacity: 0;
          transition: opacity 0.1s ease-in-out;
        }
        li:not(.big) {
          flex: 0;
          font-size: 2.5rem;
          //isplay: none;
        }
      }
      #close-nav {
        font-family: Leiko;
        opacity: 0;
        position: absolute;
        transition: opacity 0.1s ease-in-out;
        top: 20px;
        right: 30px;
        display: block !important;
        color: white;
        text-shadow: 0px 0px 8px #cd427a;
        z-index: 100000;
      }
      &.show {
        #close-nav {
          opacity: 1;
        }
        ul {
          height: 100vh;
          li {
            opacity: 1;
          }
        }
      }
    }
  }
</style>
