<nav>
  <ul>
    <li>
      <a href="/articles/about">about</a>
    </li>
    <li>writing</li>
    <li class="big"><a href="/">Michael <br />Klein</a></li>
    <li>
      <a href="/articles/projects">projects</a>
    </li>
    <li>blogroll</li>
  </ul>
</nav>
<button class="burger" id="burger">☰</button>
<div class="slogan" id="slogan">front-end engineer</div>
<script is:inline>
  requestAnimationFrame(() => {
    const burger = document.getElementById("burger");
    burger.addEventListener("click", () => {
      document.querySelector("nav").classList.toggle("show");
    });
  });
</script>
<style lang="scss">
  .burger {
    display: none;
  }
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: OPTIWindsor;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 8px #cd427a;
    width: 100%;
    max-width: 1100px;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    li {
      flex: auto;
      &.big {
        flex: auto;
        font-size: 2rem;
        letter-spacing: -0.25rem;
      }
      a {
        text-decoration: none;
        &,
        &:active,
        &:link {
          color: white;
        }
        &:hover {
          color: #da5eb0;
          text-shadow: none;
        }
      }
    }
  }
  .slogan {
    position: absolute;
    top: 157px;
    left: calc(50% + 84px);
    width: 100px;
    transform: translateX(-50%);
    font-family: "Leiko";
    line-height: 0.7rem;
    color: white;
    text-align: left;
    text-shadow: 0px 0px 8px #cd427a;
    z-index: 999999;
    font-size: 0.8rem;
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    .slogan {
      left: 132px !important;
      font-size: 0.7rem !important;
      width: 90px !important;
    }
    .burger {
      background: transparent;
      border: none;
      font-family: Arial;
      display: block !important;
      font-family: OPTIWindsor;
      font-weight: normal;
      color: white;
      text-shadow: 0px 0px 8px #cd427a;
      font-size: 3rem;
      position: fixed;
      right: 10px;
      top: 0px;
      cursor: pointer;
      line-height: 1;
      z-index: 8001;
    }
    nav {
      ul {
        overflow: hidden;
        transition: height 0.3 ease-in-out;
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 0vh;
        display: flex;
        flex-direction: column;
        background-color: #cd427a;
        z-index: 8000;
        transform: none;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .big {
          display: none;
        }
        li:not(.big) {
          flex: 0;
          font-size: 3rem;
          //isplay: none;
        }
      }
      &.show ul {
        height: 100vh;
      }
    }
    .slogan {
      display: none;
    }
  }
</style>
