@font-face {
  font-family: "OPTIWindsor";
  src: url("OPTIWindsor.woff2") format("woff2"),
    url("OPTIWindsor.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Leiko";
  src: url("Leiko-Regular.woff2") format("woff2"),
    url("Leiko-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Gathero";
  src: url("Gathero.woff2") format("woff2"), url("Gathero.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

article {
  position: relative;
  max-width: 900px;
  left: 50%;
  transform: translateX(-50%);
  color: #faf2f2;
  font-family: Gathero;
  line-height: 1.4em;
  margin-top: 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-shadow: 0px 0px 8px #cd427a80;

  > p:not(first-child) {
    margin-top: 1.6rem;
  }

  h1 {
    color: #fcfafa;
    position: relative;
    margin-bottom: 2rem;
    line-height: 1.8rem;
    font-family: Leiko;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -0.6rem;
      border-left: 1px solid #fe96dd;
      top: 0.5rem;
      bottom: 0.5rem;
      box-shadow: 0px 0px 6px 1px #d15fac;
    }
  }

  ul,
  ol {
    text-align: justify;
    padding-left: min(9vw, 60px);
    padding-right: min(9vw, 60px);
    li {
      &:not(first-child) {
        margin-top: 20px;
      }
      p:not(:first-child) {
        margin-top: 15px;
      }
    }
  }
  a {
    &,
    &:active,
    &:link {
      color: #3ec8fb;
    }
    &:hover {
      color: #da5eb0;
    }

    &.why {
      position: absolute;
      margin-left: 0.1rem;
      font-size: 0.8rem;
      transform: translateY(-0.6rem);
      display: inline-block;
    }
  }
}
