@font-face {
  font-family: "OPTIWindsor";
  src: url("OPTIWindsor.woff2") format("woff2"),
    url("OPTIWindsor.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Leiko";
  src: url("Leiko-Regular.woff2") format("woff2"),
    url("Leiko-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.fade {
  position: fixed;
  left: 0px;
  right: 0px;
  height: 0px;
  background: #101125;
  box-shadow: 0px 0px 80px 100px #101125;
  z-index: 500;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  background: #101125 url(bg.png) center;
  padding: 0;
  margin: 0;
}
main {
  position: relative;
  min-height: 100vh;
  height: 5000px;
  margin-top: 0px;
}
header {
  z-index: 1000;
  display: block;
  position: sticky;
  top: -100px;
  width: 100%;
  height: 299px;
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: OPTIWindsor;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 8px #cd427a;
    width: 100%;
    max-width: 1100px;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    li {
      flex: auto;
      &.big {
        flex: auto;
        font-size: 2rem;
        letter-spacing: -0.25rem;
      }
    }
  }
}
.light {
  position: sticky;
  height: 0px;
  top: -140px;
  z-index: 800;
  img {
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% + 10px));
    top: 0px;
    max-width: max-content;
    width: 450px;
  }
}
.me {
  position: sticky;
  height: 0px;
  top: -60px;
  z-index: 810;
}
.me img {
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% + 10px));
  top: 0px;
  max-width: max-content;
  width: 450px;
}
.donkey {
  position: sticky;
  height: 0px;
  top: -90px;
  z-index: 820;
  img {
    position: sticky;
    left: calc(50% - 30px);
    transform: translateX(-50%);
    top: 0px;
    width: 300px;
  }
}
@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.2;
  }
}
.heehaw {
  z-index: 840;
  position: sticky;
  height: 0px;
  top: -90px;
  animation: flicker 4s linear infinite;
  img {
    position: sticky;
    left: calc(50% - 30px);
    transform: translateX(-50%);
    top: 0px;
    width: 300px;
  }
}
article {
  position: relative;
  max-width: 900px;
  left: 50%;
  transform: translateX(-50%);
  color: #faf2f2;
  font-family: Leiko;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6em;
}
article h1 {
  color: #fcfafa;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: -0.6rem;
    border-left: 1px solid #fe96dd;
    top: 0.5rem;
    bottom: 0.5rem;
    box-shadow: 0px 0px 6px 1px #d15fac;
  }
}
