---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import "../styles.scss";
import "../reset.css"
--- 

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body><main>
		<div class="fade"></div>
		<div class="light">
		  <img src="light.png" />
		</div>
		<div class="me">
		  <img src="me.png" />
		</div>
		<div class="donkey">
		  <img src="donkey.png" />
		</div>
		<div class="heehaw">
		  <img src="heehaw.png" />
		</div>
		<header>
		  <nav>
			<ul>
			  <li>
				about
			  </li>
			  <li>
				writing
			  </li>
			  <li class="big">Michael <br />Klein</li>
			  <li>
				projects
			  </li>
			  <li>
				blogroll
			  </li>
			</ul>
		  </nav>
		</header>
		<slot></slot>
	  </main>
	</body>
</html>